html,
body {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  background-color: #fff;
  font-size: 100%;
  font-family: 'Akrobat';
}
section {
  width: 100%;
}
img {
  max-width: 100%;
}
a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.content {
  width: 90em;
  margin: auto;
}

/* Верхушка */
header {
  width: 100%;
  color: #fff;
}
nav,
.header__top,
.header__other,
.menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
nav,
.header__top {
  width: 89%;
  padding: 0.5em 4% 0.5em 7%;
}
.header__top {
  justify-content: space-between;
  background-color: #a4a4a4;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 300;
}
.header__title {
  color: #e6d15a;
}
.header__other {
  justify-content: space-between;
  width: 45%;
}
.header__find {
  width: 42%;
  padding: 0.5em;
  color: #e6d15a;
  font-size: 1.6em;
  border: 0;
  border-radius: 10px;
  background-color: #fff;
}
.header__other img {
  width: 10%;
  padding-left: 10%;
}
.header__call {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 0.1em;
  line-height: 150%;
}
.header__call-text {
  padding-bottom: 0.2em;
  font-size: 0.9em;
  border: 0;
  border-bottom: 1px dotted #fff;
}
nav {
  justify-content: flex-end;
  background-color: #e6d15a;
}
.menu {
  justify-content: space-between;
  width: 70%;
}
.menu li {
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-transform: uppercase;
}

/* Верхний блок */
#top {
  width: 100%;
}
#top img {
  width: 100%;
}

/* Блок с банером */
#bannertext {
  color: #4a4a4a;
}
h2,
.banner__subtitle {
  text-align: center;
  letter-spacing: 0.1em;
}
h2 {
  width: 70%;
  margin: 1em 15% 0.2em 15%;
  font-size: 4.5em;
}
.banner__subtitle {
  width: 80%;
  margin: 0 10%;
  font-size: 2em;
}
.banner {
  width: 100%;
  padding: 5em 0;
}
.banner img {
  width: 100%;
}

/* Блок с рекламой */
#ad {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  margin: 3em auto;
  color: #e6d15a;
  text-align: center;
}
.ad__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 43%;
}
.ad__block img {
  width: 90%;
  margin: 0 5%;
}
h3 {
  margin: 0.3em 0;
  font-size: 3em;
  font-weight: 900;
}
.ad__block-text {
  margin: 0;
  font-size: 2em;
}
.ad__block-button {
  width: 64%;
  margin: 1.5em auto;
  padding: 0.5em;
  font-size: 2.5em;
  color: #fff;
  background-color: #a4a4a4;
}

/* Плитки */
#info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 1em 0 5em 0;
}
.info__item {
  position: relative;
  margin-top: 2em;
}
.info__item-text {
  position: absolute;
  width: 100%;
  top: 3em;
  font-size: 3em;
  color: #fff;
  text-align: center;
  font-weight: 300;
}
.small {
  width: 47%;
}
.big {
  width: 97%;
}

/* Футер */
footer {
  width: 100%;
  padding: 3em 0;
  background-color: #4a4a4a;
}
.footer {
  display: flex;
  flex-wrap: nowrap;
  color: #fff;
}
.footer__map {
  width: 20%;
}
.footer__map-title,
.footer__map-item {
  font-size: 1.7em;
  font-weight: 100;
}
.footer__map-title {
  margin-bottom: 1em;
  color: #fff;
  letter-spacing: 0.1em;
}
.footer__map-item {
  margin: 0.3em 0;
  color: #a4a4a4;
}

/* Страница дверей */
#doorcatalog {
  padding: 3em 0 7em 0;
}
.doorcatalog__item {
  width: 90%;
  margin: 2em 0;
  padding: 1em 5% 15em 5%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.doorcatalog__item-title {
  width: 50%;
  margin: 0;
  font-size: 4em;
  color: #e6d15a;
}
.doorcatalog__item-text {
  width: 50%;
  font-size: 1.5em;
  margin: 0;
  padding: 1em 0 0 0;
  color: #fff;
}
.doorcatalog__item-right {
  margin: 0;
  padding: 0 3%;
  font-size: 6em;
  color: #e6d15a;
}
.layer1 {
  background-image: url('../img/Layer1.png');
}
.layer2 {
  background-image: url('../img/Layer2.png');
}
.layer3 {
  background-image: url('../img/Layer3.png');
}
.layer4 {
  background-image: url('../img/Layer4.png');
}

@media screen and (max-width: 1460px) {
  body {
    font-size: 81.25%;
  }
}
@media screen and (max-width: 1200px) {
  body {
    font-size: 67.5%;
  }
}
@media screen and (max-width: 992px) {
  body {
    font-size: 53%;
  }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 425px) {}
